{include="sidemenu"}

<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Lista de Notificações</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="/admin">Home</a></li>
          <li class="breadcrumb-item active">Notificações</li>
        </ol>
      </div>
    </div>
    </div><!-- /.container-fluid -->
  </section>
  <!-- /.content-header -->

  <!-- Main content -->
  <section class="content">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="box-header">
              <a href="/admin/notifications/create" class="btn btn-success pull-right" style="margin-right: 20px; margin-top: 10px;">Cadastrar Notificação</a>
          </div>

          <div class="card-body">
            <table id="users" class="table table-bordered table-striped">
              <thead>
                  <tr>

                  <th style="width: 10px">#</th>
                  <th>Paciente</th>
                  <th>Descrição</th>
                  <th>Prontuario</th>
                  <th>Registro</th>
                  <th>Setor Notificante</th>
                  <th>Setor Notificado</th>
                  <th>Data de Criação</th>
              </thead>
              <tbody>
                  {loop="$notifications"}
                    <tr>
                      <td>{$value.id_notificacao}</td>
                      <td>{$value.nome_pac}</td>
                      <td>{$value.descricao}</td>
                      <td>{$value.prontuario}</td>
                      <td>{$value.registro}</td>
                      <td>{$value.st_cante}</td>
                      <td>{$value.st_cado}</td>
                      <td>{function="formatDate($value.dt_notificacao)"}</td>
                    </tr>
                  {/loop}
              </tbody>
            </table>
          </div>
      <!-- /.row -->
        </div>
    <!-- /.container-fluid -->
      </div>
  <!-- /.content -->
    </div>
  </section>

</div>
<!-- /.content-wrapper -->
