<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="/admin" class="brand-link" style="text-align: center; color: aliceblue;">
    <img src="/res/site/img/hjf.png" alt="Blog HJF" class="brand-image img-circle">
    <span class="brand-text font-weight-light" style="padding-right: 30px;">Jayme da Fonte</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img src="/res/admin/dist/img/user.svg" class="img-circle elevation-2" alt="User Image">
      </div>
      <div class="info">
        <a href="#" class="d-block" style="color: aliceblue;">{function="getUserName()"}</a>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
              with font-awesome or any other icon font library -->
        <li class="nav-item">
          <a href="/admin" class="nav-link active" style="color: aliceblue;">
            <i class="nav-icon fa fa-dashboard"></i>
            <p>Dashboard</p>
          </a>
        </li>
        <!-- if da condicao inadmin-->
        {if="$user.inadmin == 1"}
        <li class="nav-item">
          <a href="/admin/users" class="nav-link" style="color: aliceblue;">
            <i class="nav-icon fa fa-users"></i>
            <p>Usuarios</p>
          </a>
        </li>
        {/if}

        <!-- if da condicao inadmin-->
        <li class="nav-item">
          <a href="/admin/posts" class="nav-link" style="color: aliceblue;">
            <i class="nav-icon fa fa-rss-square"></i>
            <p>Postagens</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/admin/popups" class="nav-link" style="color: aliceblue;">
            <i class="nav-icon fa fa-picture-o"></i>
            <p>Popups</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/admin/ramais" class="nav-link" style="color: aliceblue;">
            <i class="nav-icon fa fa-phone"></i>
            <p>Ramais</p>
          </a>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>

<main>
  {$loop="$popups"}
  <div class="col-lg-3 col-md-4 col-sm-6">
    <div class="card card-primary card-outline">
      <img class="card-img-top img-fluid" src="{$value.desphoto}" alt="" style="height: 200px;">
      <div class="card-body">
        <h5 class="card-title"><strong>{$value.text_popup}</strong></h5>
        <a href="/admin/posts/{$value.id_popup}/delete" onclick="return confirm('Deseja realmente excluir este registro?')"
          class="btn btn-danger btn-sm"><i class="fa fa-trash"></i>Excluir</a>
      </div>
    </div>
  </div>
  {/$loop}
</main>