  <header>

    <!-- Navbar -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar" id="scrollNav">
      <div class="container">

        <!-- Brand -->
        <a class="navbar-brand" href="/">
          <strong>Intranet</strong>
        </a>

        <!-- Collapse -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Links -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

          <!-- Left -->
          <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
                <a class="nav-link" href="/blog">Blog</a>
            </li>
            <li class="nav-item ">
              <a class="nav-link js-scroll-trigger" href="#ramais"> Ramais </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="//ecm/" target="_blank">Documentos Institucionais</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="//helpdesk/" target="_blank">Helpdesk</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="//webmail/" target="_blank">Webmail</a>
            </li>
          </ul>

          <!-- Right -->
          <ul class="navbar-nav nav-flex-icons">
            <li class="nav-item">
              <a href="http://jaymedafonte.com.br" class="nav-link border border-light rounded" target="_blank">
                <i class="fa fa-medkit mr-2"></i>Jayme da Fonte
              </a>
            </li>
          </ul>

        </div>

      </div>
    </nav>
    <!-- Navbar -->

        <!--Carousel Wrapper-->
        <div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
              <div class='carousel-item active zoom' >
                {loop="$posts"}
                <a href="/blog/{$value.idpost}/{$value.titulo}"><img class="d-block w-100 img-fluid" src="{$value.desphoto}" alt="{$value.titulo}" style="height: 500px;" ></a>
                <!-- Content -->
              <div class="text-center white-text mx-5 wow fadeIn">
                <h1 class="mb-4">
                  <strong>{$value.titulo}</strong>
                </h1>
                <p class="mb-4 d-none d-md-block">
                  <strong>{function="cortaStr($value.texto)"}</strong>
                </p>
                <a href="/blog/{$value.idpost}/{$value.titulo}" class="btn btn-outline-white btn-lg">Saiba Mais.</a>
              </div>
              <!-- Content -->
              </div>
              <div class='carousel-item zoom'>
              {/loop}
              <img class="d-block w-100" src="/res/site/img/endoscopia_da_coluna.jpg" alt="" >
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
    <!--/.Carousel Wrapper-->

  </header>

  <!--Main layout-->
  <main>
    <div class="container">

      <!-- Section icones -->

      <section class="mt-5 wow fadeIn" id="icons">
        <div class="row">
          <div class="col-md-4 col-sm-12">
            <div class="centralizar">
              <a href="/blog"><img src="/res/site/img/svg/blogger.svg" class="" ></a>
            </div>
            <div class="text-icons">
              <h3 class="h3 mb-3">Blog HJF</h3>
              <p>Aqui voce fica por dentro de todas as novidades do hospital.</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-12">
            <div class="centralizar">
              <a class="js-scroll-trigger" href="#ramais"><img src="/res/site/img/svg/telephone.svg"></a>
            </div>
            <div class="text-icons">
              <h3 class="h3 mb-3">Encontre o Colaborador</h3>
              <p>O hospital é muito grande, não dá pra decorar todos os ramais.<br>
                  Encontre o colaborador desejado.</p>
            </div>
          </div>          
          <div class="col-md-4 col-sm-12">
            <div class="centralizar">
              <a href="//ecm" target="_blank"><img src="/res/site/img/svg/file.svg" class=""></a>
            </div>
            <div class="text-icons">
              <h3 class="h3 mb-3">Documentos Institucionais</h3>
              <p>Consulte os documentos providos do hospital. 
                <br>     
              *Para documentos comuns a todos os setores*</p>
              
              <!-- Basic dropdown -->
              <div class="btn-group">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Clique para obter credencial</button>

                <div class="dropdown-menu">
                    <a class="dropdown-item">Usuario: <strong>Visitante</strong></a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item">Senha: <strong>hospital</strong></a>
                </div>
              </div>
          </div>
          </div>
        </div>
      </section>

      <hr class="my-5">

      <!--Section: Main info-->
      <section class="mt-5 wow fadeIn">

        <!--Grid row-->
        <div class="row">

          <!--Grid column-->
          <div class="col-md-6 mb-4">

            <img src="/res/site/img/missao.jpeg" class="img-fluid z-depth-1-half" alt="">

          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-md-6 mb-4 ">
            <div class="info">
              <!-- Main heading -->
              <h2 class="h2 mb-3">Missão, Visão e Valores</h2>
              <p style="text-align: justify;">Representam a identidade organizacional da instituição e definem: a razão de sua existência (Missão), o objetivo a longo prazo (Visão), e as crenças e ideias que formam a base da organização (Valores).</p>
            </div>
          </div>
          <!--Grid column-->

        </div>
        <!--Grid row-->

      </section>
      <!--Section: Main info-->

      <hr class="my-5">

      <section class="mt-5 wow fadeIn">

        <div class="class">

            <h1 class="h1 mb-3" style="text-align: center">Metas Internacionais de Segurança do Paciente</h1>
            <p style="text-align: center">O hospital implementa 6 metas para segurança do paciente com o <br> objetivo de oferecer um ambiente cada vez mais seguro aos pacientes, acompanhantes e profissionais de saúde.</p>
              
        </div>
        <br>
        <div class="owl-carousel">
          
          <div> <img src="/res/site/img/meta-2.jpg" class="img-fluid px-4" alt="Meta 2"> </div>
          <div> <img src="/res/site/img/meta-3.jpg" class="img-fluid px-4" alt="Meta 3"> </div>
          <div> <img src="/res/site/img/meta-4.jpg" class="img-fluid px-4" alt="Meta 4"> </div>
          <div> <img src="/res/site/img/meta-5.jpg" class="img-fluid px-4" alt="Meta 5"> </div>
          <div> <img src="/res/site/img/meta-6.jpg" class="img-fluid px-4" alt="Meta 6"> </div>
          
        </div>
        
      </section>
        <!--Section: Main info-->

      <hr class="my-5" id="ramais">

      <section class="mt-5 wow fadeIn" >

        <div class="tabelaRamal" >
          <div class="infoRamal">
              <!-- Main heading -->
              <h1 class="h1 mb-3" style="text-align: center">Lista de Ramais</h1>
              <p style="text-align: center">O hospital é muito grande não dá pra decorar todos os ramais <br>
              Digite o setor ou o ramal ou o colaborador e clique em <strong>Pesquisar</strong> e faça uma consulta:</p>
          </div>

        </div>

          <div class="card">
              <div class="card-body">
          
                  <!--Table-->
                  <table id="tabelaRamais" class="table table-hover table-responsive-md table-fixed table-striped">
          
                      <!--Table head-->
                      <thead>
                          <tr>
                              <th>Setor</th>
                              <th>Ramal</th>
                              <th>Colaborador</th>
                          </tr>
                      </thead>
                      <!--Table head-->
          
                      <!--Table body-->
                      <tbody>
                        {loop="$ramal"}
                          <tr>
                              <th>{$value.setor}</th>
                              <td>{$value.ramal}</td>
                              <td>{$value.colaborador}</td>
                          </tr>

                        {/loop}
                          
                      </tbody>
                      <!--Table body-->
          
                  </table>
                  <!--Table-->
          
              </div>
          </div>
      </section>
        
      <hr class="my-5">

      <!--Section: Not enough-->
      <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel" data-interval="3000" style="height: 100px;">
          <div class="carousel-inner">
              <!-- First slide -->
              <div class="carousel-item">
                  <!--Grid row-->
                  <div class="row">

                      <!--First column-->
                      <div class="col-lg-6 col-md-6 d-flex align-items-center justify-content-center">
                          <img src="/res/site/img/jayme-da-fonte-desde.png" class="img-fluid px-4" alt="jayme da fonte - logo" style="max-height: 50px">
                      </div>
                      <!--/First column-->

                      <!--Second column-->
                      <div class="col-md-6 col-sm-6 d-flex align-items-center justify-content-center">
                          <img src="/res/site/img/logo_acreditacao_qual.png" class="img-fluid px-4" alt="" style="max-height: 50px">
                      </div>
                      <!--/Second column-->
                  </div>
                  <!--/Grid row-->
              </div>
              <!-- First slide -->

              <!-- Second slide -->
              <div class="carousel-item active carousel-item-left">
                  <!--Grid row-->
                  <div class="row">

                      <!--First column-->
                      <div class="col-md-6 col-sm-6 d-flex align-items-center justify-content-center">
                          <img src="/res/site/img/jayme-da-fonte-desde.png" class="img-fluid px-4" alt="jayme da fonte - logo" style="max-height: 50px">
                      </div>
                      <!--/First column-->

                      <!--Second column-->
                      <div class="col-md-6 col-sm-6 d-flex align-items-center justify-content-center">
                          <img src="/res/site/img/logo_acreditacao_qual.png" class="img-fluid px-4" alt="" style="max-height: 50px">
                      </div>
                      <!--/Second column-->

                  </div>
                  <!--/Grid row-->
              </div>
              <!-- Second slide -->
          </div>
      </div>

    </div>
  </main>
  <!--Main layout-->
